/.venv
/code.py
/code2.py
/data
/requirements.txt
.env
# Ignore all virtual environments everywhere
.venv
**/ .venv
RAG/
RAG/.venv

# Ignore environment secrets
.env
*.env
**/ .env
node_modules/
frontend/node_modules/
.venv/
*.env
backend/.env