@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-petnutri-cream text-petnutri-text font-body;
}

* {
  scrollbar-width: thin;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}
.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #d8cfbd;
  border-radius: 999px;
}
